# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# IDE
.vscode/*

# Build
build/
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# System Files
.DS_Store
Thumbs.db

# Additional Ignored Files
*~
*.swp
*.tmp

# Exlcude Subfolders in Temperature Parameter Tuning
Temperature Parameter Tuning/*/

# Exlcude Subfolders in pictures
pictures/*/
